.draggable {
  box-sizing: border-box;
}
.dragable-container .vdr {
  border: none;
}
.dragable-container {
  height: 100vh;
  width: 100%;
  cursor: move;
  border: 1px solid red;
  position: relative;
}
.dragable-container .item {
  width: 100%;
  height: 100%;
}
.dragable-container .active {
  border: 1px dashed #999;
}
.active-item {
  opacity: 0.5;
}